.form-container{
    margin:2rem;
    display: grid;
    grid-template-columns: auto auto;
    gap:40px;
}

.form-container form{
    padding:30px;
    background-color: var(--dark-blue-color);
    border-radius:8px;
    box-shadow: 
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12),
    0 3px 5px -1px rgba(0,0,0,.2);
}

.form-container h2{
    color:#ebedf2;
    font-size: 19px;
    font-weight: 500;
}


@media screen and (max-width:900px){
    .form-container{
        grid-template-columns: auto;
    }
}