.main-div{
    background-color: var(--dark-blue-color);
    border-radius: 8px;
    padding:8em 3em;
}

.msg-container{
    margin:0 auto;
    text-align: center;
}

.msg-container p{
    font-size:20px;
}

.msg-container p.success-msg{
    color:var(--light-cyan-color);
}

.msg-container a{
    font-size:17px;
    display: inline-block;
    text-decoration: underline;
    transition: 500ms;
}

.msg-container a.success-link{
    color:rgb(37, 131, 194) !important;
}

.msg-container a.success-link:hover{
    color:rgb(33, 98, 141) !important;
}


.msg-container p.error-msg{
    color:#d82525;
}

.msg-container p.warning-msg{
    color: rgb(204, 171, 26);
}

.msg-container a.error-link{
    color:#d82525 !important;
}

.msg-container a.error-link:hover{
    color:#9b2020 !important;
}
