#id_image{
    display: none;
}

.main-form{
    max-width:820px;
    margin:2rem auto;
    font-size:16px;
    background-color: var(--dark-blue-color);
    align-items: baseline;
    gap:7em;
    padding:2.5em;
    border-radius: 7px;
}

.labels-container{
    width:fit-content;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.info-text{
    padding-bottom:5px;
    color:white;
    font-size: 22px;
    font-weight: 430;
}

.info-text i{
    color:rgb(189, 189, 189);
}

.profile-image{
    border-radius: 50%;
    cursor: pointer;
}

.blue-link-text{
    font-weight: 600;
    cursor:pointer;
    transition: color 300ms;
    color:rgb(40, 114, 211) !important;
    text-decoration: underline !important;
}

.blue-link-text:hover{
    color:rgb(35, 83, 146) !important;
}

label{
    display: block;
    color:rgb(235, 233, 233);
    font-weight: 600 !important;
    font-size:18px;
    margin-bottom:5px;
}

.input-container{
    gap:30px;
    max-width:350px;
}

.errorlist{
    margin-top:10px;
}

.input-container input{
    width:100%;
}

.change-password{
    color:white;
    font-weight: 600;    
}

.save-changes{
    display: block;
    margin-top:1.4em;
    float: left !important;
    font-weight: 600 !important;
}

@media screen and (max-width: 835px){
    .main-form{
        justify-content: center;
        gap:5em;
    }

    .info-text{
        font-size:19px;
    }
}

@media screen and (max-width:708px){
    .main-form{
        flex-wrap: wrap;
    }

    .main-form{
        gap:3em;
    }
}

@media screen and (max-width: 400px){
    .profile-image{
        width:200px;
        height:200px;
    }
}
