{% extends 'base.html' %}
{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">

{% endblock style %}

{% block main %}
    <div class="card-container">
        <div class="card">
            <img src="../static/images/blog-image1.jpg" alt="cover image" height="190">
            <div class="text-part">
                <a href="#" class="title">Bulk deface problem fixed ! ...</a>
                <p class="blog-date">published date 30/01/2021 03:25</p>
                <p class="desc">Bulk deface add system there was a problem before , but now the problem is fixed and there is no re...</p>
                <div class="btn-container">
                    <a href="#">
                        <button class="btn read-more-btn">Read More</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../static/images/blog-image1.jpg" alt="cover image" height="190">
            <div class="text-part">
                <a href="#" class="title">Bulk deface problem fixed ! ...</a>
                <p class="blog-date">published date 30/01/2021 03:25</p>
                <p class="desc">Bulk deface add system there was a problem before , but now the problem is fixed and there is no re...</p>
                <div class="btn-container">
                    <a href="#">
                        <button class="btn read-more-btn">Read More</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../static/images/blog-image1.jpg" alt="cover image" height="190">
            <div class="text-part">
                <a href="#" class="title">Bulk deface problem fixed ! ...</a>
                <p class="blog-date">published date 30/01/2021 03:25</p>
                <p class="desc">Bulk deface add system there was a problem before , but now the problem is fixed and there is no re...</p>
                <div class="btn-container">
                    <a href="#">
                        <button class="btn read-more-btn">Read More</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="../static/images/blog-image1.jpg" alt="cover image" height="190">
            <div class="text-part">
                <a href="#" class="title">Bulk deface problem fixed ! ...</a>
                <p class="blog-date">published date 30/01/2021 03:25</p>
                <p class="desc">Bulk deface add system there was a problem before , but now the problem is fixed and there is no re...</p>
                <div class="btn-container">
                    <a href="#">
                        <button class="btn read-more-btn">Read More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
