{% load static %}
<div class="table-container">
    <!-- ENTRY AND SEARCH PART START ------------>
    
    <div class="entry-search-container flex">

        <div class="entry">
            <span>Show</span>

            <select name="" id="" class="show">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>

            <span>entries</span>
        </div>

        <div class="search">
            <span>Search: </span>
            <input type="search" placeholder="Search" class="search-input">
        </div>

    </div>
    
    <!-- ENTRY AND SEARCH PART END -------------->

    <table class="table">
        <tr>
            <th>
                <span>id</span>
            </th>

            <th>
                <span>location</span>
            </th>

            <th>
                <span>attacker name <i class="fa fa-arrow-down-arrow-up"></i></span>
            </th>

            <th>
                <span>web url</span>
            </th>
            
            <th>
                <span>server ip</span>
            </th>
            
            <th>
                <span class="web-server">web server</span>
            </th>
            
            <th>
                <span>date</span>
            </th>
            
            <th>
                <span>preview</span>
            </th>
        
        </tr>
        
        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Spain.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Germany.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Paraguay.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Iceland.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Argentina.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary btn-preview">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Portugal.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Belgium.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Hong-Kong.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/Italy.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

        <tr>
            <td class="id">945</td>
            <td class="country-image"><img src="../static/images/countries/France.jpg" alt="" width="30" height="20"><span class="country-code">AZ</span></td>
            <td class="attacker-name">pH</td>
            <td class="web-url">https://imatransco.com/</td>
            <td class="server-ip">192.185.225.160</td>
            <td class="web-server">Apache</td>
            <td class="date">19/06/2022 02:49</td>
            <td class="preview">
                <button type="button" class="btn btn-outline-primary">Preview</button>
            </td>
        </tr>

    </table>

    <div class="pages-container">
        <div class="showing">
            Showing 
            <span id="first">1</span>
            to
            <span id="second">10</span>
            of
            <span id="total">82988</span>
            entries
        </div>
    </div>

</div>