{% load static %}
<div class="table-container">
    <!-- ENTRY AND SEARCH PART START ------------>
    
    <div class="entry-search-container flex">

        <div class="entry">
            <span>Show</span>

            <select name="" id="" class="show">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>

            <span>entries</span>
        </div>

        <div class="search">
            <span>Search: </span>
            <input type="search" placeholder="Search" class="search-input">
        </div>

    </div>
    
    <!-- ENTRY AND SEARCH PART END -------------->

    <table class="table">
        <tr>
            <th>
                <span>attacker name</span>
            </th>

            <th>
                <span>attacker point</span>
            </th>
            
            <th>
                <span>total mirror</span>
            </th>

            <th>
                <span>created date</span>
            </th>
            
            <th>
                <span>a</span>
            </th>
        
        </tr>
        
        <tr>
            <td class="attacker-name"> <a href="#">KnoryEK<i class="fa-solid fa-check check-icon"></i></a></td>
            <td class="attacker-point"><span>363</span></td>
            <td class="total-mirror">187</td>
            <td class="created date">01/01/2022 06:18</td>
            <td></td>
        </tr>

        <tr>
            <td class="attacker-name"> <a href="#">KnoryEK</a> </td>
            <td class="attacker-point"><span>363</span></td>
            <td class="total-mirror">187</td>
            <td class="created date">01/01/2022 06:18</td>
            <td></td>
        </tr>

        <tr>
            <td class="attacker-name"> <a href="#">KnoryEK</a> </td>
            <td class="attacker-point"><span>363</span></td>
            <td class="total-mirror">187</td>
            <td class="created date">01/01/2022 06:18</td>
            <td></td>
        </tr>
        
        <tr>
            <td class="attacker-name"> <a href="#">KnoryEK</a> </td>
            <td class="attacker-point"><span>363</span></td>
            <td class="total-mirror">187</td>
            <td class="created date">01/01/2022 06:18</td>
            <td></td>
        </tr>
        
        <tr>
            <td class="attacker-name"> <a href="#">KnoryEK</a> </td>
            <td class="attacker-point"><span>363</span></td>
            <td class="total-mirror">187</td>
            <td class="created date">01/01/2022 06:18</td>
            <td></td>
        </tr>

        <tr>
            <td class="attacker-name"> <a href="#">KnoryEK</a> </td>
            <td class="attacker-point"><span>363</span></td>
            <td class="total-mirror">187</td>
            <td class="created date">01/01/2022 06:18</td>
            <td></td>
        </tr>

        <tr>
            <td class="attacker-name"> <a href="#">KnoryEK</a> </td>
            <td class="attacker-point"><span>363</span></td>
            <td class="total-mirror">187</td>
            <td class="created date">01/01/2022 06:18</td>
            <td></td>
        </tr>

        <tr>
            <td class="attacker-name"> <a href="#">KnoryEK</a> </td>
            <td class="attacker-point"><span>363</span></td>
            <td class="total-mirror">187</td>
            <td class="created date">01/01/2022 06:18</td>
            <td></td>
        </tr>

    </table>

    <div class="pages-container">
        <div class="showing">
            Showing 
            <span id="first">1</span>
            to
            <span id="second">10</span>
            of
            <span id="total">82988</span>
            entries
        </div>
    </div>

</div>