{% extends 'base.html' %}
{% load static custom_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock style %}

{% block main %}
<form action="" class="main-form" method="post">
    {{ password_error }}
    {% csrf_token %}
    <h2 class="form-title">Login To Your Existing Account</h2>

    {% if form.non_field_errors %}
        <div class="error-container flex">
            <div>Password or email address is incorrect.</div>
        </div>
    {% endif %}

    <div class="input-container flex">

        {% for field in form %}
            {% find_icon field.name as icon %}
            <div>
                <label class="input-label">Your {{ field.name }}</label>
                <div class="input-group mb-3">
                    <span class="input-group-text input-span" id="basic-addon1">
                        <i class="fa-solid fa-{{ icon }}"></i>
                    </span>

                    {{ field }}
                </div>

                {% if field.name == 'password' %}
                    <a href="{% url 'type-email' %}" class="page-link">Forgot Your Password?</a>
                {% endif %}

                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}

            </div>
        {% endfor %}

        <div class="btn-container flex">
            <button class="btn report-btn submit-btn flex" type="submit">
                <i class="fa-solid fa-arrow-right"></i>
                Login
            </button>
            <span class="remind">New Here? Click 
                <a href="{% url 'register' %}" class="page-link">This Link To Register</a>
            </span>
        </div>
    
    </div>
</form>
{% endblock main %}
