{% extends 'base.html' %}
{% load static custom_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/password-change.css' %}">
{% endblock style %}

{% block main %}

<form action="{% url 'change-password' %}" class="main-form" method="post">
    {% csrf_token %}
    <h2 class="form-title">Change Your Password</h2>
    <div class="input-container flex">
        {% for field in form %}
            {% find_icon field.name as icon %}
            <div>
                <label for="" class="input-label">{{ field.label }}</label>
                <div class="input-group mb-3">
                    <span class="input-group-text input-span" id="basic-addon1">
                        <i class="fa-solid fa-{{ icon }}"></i>
                    </span>
                    {{ field }}
                </div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="btn-container flex">
        <button class="btn report-btn submit-btn flex" type="submit">
            <i class="fa-solid fa-arrow-right"></i>
            Change Your Password
        </button>
    </div>

</form>

{% endblock main %}
