{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock style %}

{% block main %}

<form action="" class="main-form" method="post">
    {% csrf_token %}
    <h2 class="form-title">Set Your New Password</h2>

    <div class="input-container flex">
        {% for field in form %}

            <div>
                <label for="" class="input-label">
                    {% if field.name == 'new_password1' %}
                    New Password
                    {% else %}
                    Confrim Your New Password
                    {% endif %}
                </label>

                <div class="input-group mb-3">
                    <span class="input-group-text input-span" id="basic-addon1">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                    </span>
                    {{ field }}
                </div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endfor %}

        <div class="btn-container flex">
            <button class="btn report-btn submit-btn flex" type="submit">
                <i class="fa-solid fa-arrow-right"></i>
                Send Code
            </button>
        </div>

    </div>
</form>

{% endblock %}

