{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/setpassword-success.css' %}">
{% endblock style %}

{% block main %}

<div class="main-div">
    <div class="msg-container">
        <p class="success-msg">Your Password Has Successfully Been Changed.</p>
        <p class="success-msg">You Have Automatically Logged In.</p>
        <a href="{% url 'index' %}" class="success-link">Go Back To Home Page.</a>
    </div>
</div>

{% endblock main %}

